@using Todo.Controllers
@using Todo.Data.Entities
@using Todo.Providers
@using Todo.Services
@model Todo.Models.TodoLists.TodoListDetailViewmodel
@inject IGravatarService GravatarService;

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<script type="text/javascript">
    function toggleCompleted() {
        $(".list-group-item-completed").toggle("fast", function () {
        });
    };
</script>

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">

    <ul class="list-group">

        <li class="list-group-item">
            <div class="row">
                <div class="col-md-8">
                    <a asp-action="Create" asp-controller="TodoItem" asp-route-todoListId="@Model.TodoListId">
                        <strong>Add New Item</strong>
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="pull-right">
                        <input type="checkbox" id="toggleCompleted" onclick="toggleCompleted()" />
                        <label for="toggleCompleted">Hide Completed</label>
                    </div>
                </div>
            </div>
        </li>

        @foreach (var item in Model.Items.OrderBy(i => i.Importance))
        {
            string contextualClass;
            switch (item.Importance)
            {
                case Importance.High:
                    contextualClass = "list-group-item-danger";
                    break;
                case Importance.Low:
                    contextualClass = "list-group-item-info";
                    break;
                default:
                    contextualClass = "";
                    break;
            }

            if (item.IsDone)
            {
                contextualClass = $"{contextualClass} list-group-item-completed";
            }

            <li class="list-group-item @contextualClass">

                <div class="row">

                    <div class="col-md-8">
                        <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                            @if (item.IsDone)
                            {
                                <s>@item.Title</s>
                            }
                            else
                            {
                                <text>@item.Title</text>
                            }
                        </a>
                    </div>

                    <div class="col-md-4 text-right">
                        <small>
                            @item.ResponsibleParty.UserName

                            <img src="@GravatarService.GetImgUrl(item.ResponsibleParty.Email)" />

                        </small>
                    </div>
                </div>

            </li>
        }
    </ul>
</div>